body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 10px;
}

#report-form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#report-form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
